.nav-link {
	cursor: pointer;
}

.navbar-toggler {
	color: white;
	border-color: transparent !important;
}

.nav-link {
	font-size: 1.25rem;
	width: max-content;
	align-self: flex-end;
}

.active {
	position: relative;
}

.active:before {
	content: "";
	height: 2px;
	width: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: white;
}

#search-button{
	z-index: 0;
	cursor: pointer;
	/*background-color: white;
	color: #354169;*/
	color: white;
	/*border: 1px solid #ced4da;*/
	border-radius: 0 5px 5px 0;
}

#query-input {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
 	transition: all .5s;

 	visibility: hidden;
	opacity: 0;
	width: 0; /* Do not change */
	border-radius: 5px 0 0 5px;
}