:host {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 300px;
}

.top-bar{
  width: 100%; 
  background-color: #354169; 
  border-radius: 5px 5px 0 0; 
  color: white; 
  text-align: center; 
  height: 35px; 
  line-height: 35px;
}

.top-bar span {
  vertical-align: middle;
}

paper-icon-button.green {
  color: var(--paper-green-500);
}

paper-icon-button.green:hover {
  background: var(--paper-green-50);
  border-radius: 50%;
}

.entities .badge.badge-secondary {
  border: 1px solid ;
  border-bottom-left-radius: 0;
  padding-right: 0px;
  cursor:pointer;
  margin-bottom:5px;
  margin-right: 3px;
  margin-left: 3px;
  font-size: 13px;
}

.entities .badge.badge-secondary:hover {
  color: white !important;
}
#chart {
  width: 100%;
}

.number {
  color: white !important;
  padding: 2px;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin-right: -1px;
  margin-left: 5px;
}
#tag-wrapper {
  margin: 10px 10px 10px 20px;
  min-height: 215px;
  visibility: visible;
  box-shadow: 0 0 black;
 
}

.content.paper-button {
    padding: 0 0.57em;
}

#nodata {
  position: absolute;
  width: 100%;
  line-height: 35px;
  text-align: center; 
}
#legend_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 13px;
  margin-top: 13px;
}
.legend_component {
  display: flex;
  flex-direction: row;
}

.legend_square {
  width: 7px;
  height: 7px;
  float: left;
  margin-top: 7px;
  margin-right: 3px;
  margin-left: 6px
}