.article-image {
	background-position: center;
	background-repeat: no-repeat;
  	background-size: cover;
}

.content-box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.article-headline {
	text-align: justify;
}

.article-body {
	text-align: justify;
}

/****************
*     Button    *
****************/

#button-box {
	display: flex;
	flex-direction: row;
	justify-content: right;
}

.see-more-button {
	display: inline-block;
	color: #ffffff;
	background-color: #107b10;
	padding: 10px;
	width: 140px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

.see-more-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.see-more-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.see-more-button:hover span {
  padding-right: 25px;
}

.see-more-button:hover span:after {
  opacity: 1;
  right: 0;
}