/*****************
*      Fonts     *
*****************/

@font-face {
    font-family: Raleway-Bold;
    src: url("assets/fonts/raleway-bold.ttf")  format("truetype");
}

@font-face {
    font-family: Raleway-Medium;
    src: url("assets/fonts/raleway-medium.ttf")  format("truetype");
}

@font-face {
    font-family: Raleway-Light;
    src: url("assets/fonts/raleway-light.ttf")  format("truetype");
}

@font-face {
    font-family: Raleway-Thin;
    src: url("assets/fonts/raleway-thin.ttf")  format("truetype");
}

.medium-text {
    font-family: Raleway-Medium;
}

.bold-text {
    font-family: Raleway-Bold;
}

.light-text {
    font-family: Raleway-Light;
}

.thin-text {
    font-family: Raleway-Thin;
}

/*******************
*     UpperBar     *
*******************/

.upper-bar {
    position: fixed;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
}

.back-container {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.back-icon {
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    padding: 2px;
}

.back-text{
    color: white;
    font-size: 16px;
}

/*******************
*      Image       *
*******************/

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container:hover {
    cursor: pointer;
}

.article-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin-left: auto;
    margin-right: auto;
}

.image-container:hover .article-image {
    transform: scale(1.01);
}

.img-blur {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.image-container:hover .img-blur {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 15px;
    padding: 15px;
    text-align: center;
}

.image-container:hover .overlay {
    opacity: 1;
}

/*******************
*     Metadata     *
*******************/

.icon-sm {
    height: 20px;
}

/******************
*     Content     *
******************/

.badge {
    cursor: pointer;
}

.square {
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 3px;
    margin-left: 6px;
}

.place {
    background-color: #ff9900;
}

.organization {
    background-color: #dd4b39;
}

.person {
    background-color: #00c0ef;
}

.category {
    background-color: #5f5755;
}

.article-headline {
    font-size: 35px;
    line-height: 35px;
}

@media only screen and (max-width: 768px) {
    .article-headline {
        font-size: 20px;
        line-height: 20px;
        font-family: Raleway-Bold;
    }
}

.article-body {
    font-size: 16px;
    text-align: justify;
}